{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Symbol</th>
                <th scope="col">Shares</th>
                <th scope="col">Price</th>
                <th scope="col">Total Price</th>
            </tr>
        </thead>
        <tbody>
            {% for purchase in purchases %}
                <tr>
                    <td>{{ purchase.name }}</td>
                    <td>{{ purchase.symbol }}</td>
                    <td>{{ purchase.total_shares }}</td>
                    <td>{{ purchase.price | usd }}</td>
                    <td>{{ purchase.total_price | usd }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">Balance:</td>
                <td class="border-0 fw-bold text-end">{{ balance | usd }}</td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">Total:</td>
                <td class="border-0 fw-bold text-end">{{ total | usd }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
